WEATHERSTACK_API_KEY=your_weatherstack_api_key_here
RISK_ALERT_EMAIL_PASSWORD=your_email_app_password_here
RISK_ALERT_RECIPIENTS=risk-team@example.com,data-team@example.com
INDEED_PUBLISHER_ID=your_indeed_publisher_id_here
EMAIL_USER=you@example.com
EMAIL_PASSWORD=your_email_app_password_here
